<h1>Flight <%= @flight.id %></h1>

<div class="flight_info">
  <p>
    Flight number: <%= @flight.number %><br>
    Date and time: <%= "#{@flight.date}, #{@flight.time}" %><br>
    Departure City: <%= @flight.departure %><br>
    Arrival City: <%= @flight.arrival %>
  </p>
</div>

<div class="adult_passengers">
  <ul>
    <% @flight.adult_passengers.each do |passenger| %>
      <li id="passenger_<%= passenger.id %>">
        <%= passenger.name %> <%= button_to "Remove", "/flight/#{@flight.id}/passengers/#{passenger.id}", method: :delete, local: true %>
      </li>
    <% end %>
  </ul>
  <p>Average adult age: <%= @flight.average_adult_age %></p>
</div>
